:root
{
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secundary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #ffffff;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

/*Empieza header*/
    header
    {
        display: flex;
        position: relative;
        width: 100%;
        min-width: 320px;
        height: 334px;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcoin-orange) 100%);
    }

    header img
    {
        width: 150px;
        height: 24px;
        margin-top: 60px;
        align-self: center;
    }

    .header-container
    {
        width: 90%;
        min-width: 288px;
        max-width: 900px;
        height: 218px;
        margin-top: 40px;
        align-self: center;
        text-align: center;
    }

    .header-container h1
    {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 2.6rem;
        color: var(--just-white);
    }

    .header-container p
    {
        margin-top: 25px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: var(--soft-orange);
    }

    .header-container__button
    {
        display: block;
        width: 229px;
        height: 48px;
        position: absolute;
        top: calc(100% - 24px);
        left: calc(50% - 114.5px);
        padding: 15px;
        background-color: var(--off-white);
        box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
        border: none;
        border-radius: 5px;
        font-size: 1.4rem;
        font-weight: 700;
        text-decoration: none;
        color: var(--black);
    }

    .header-container__button span
    {
        display: inline-block;
        width: 13px;
        height: 8px;
        margin-left: 10px;
        background-image: url('./Assets/Icons/down-arrow.svg');
    }
/*Termina header*/

/*Empieza main*/
    main
    {
        width: 100%;
        height: auto;
        background-color: var(--off-white);
    }
    /*Empieza exchange section*/
        .main-exchange-container
        {
            width: 100%;
            height: auto;
            padding-top: 80px;
            padding-bottom: 30px;
        }

        .main-exchange-container__bitcoin-img
        {
            width: 200px;
            height: 200px;
            margin: 0 auto;
            margin-bottom: 50px;
            background-image: url('./Assets/Img/bitcoin.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .main-exchange-container__text
        {
            width: 90%;
            min-width: 288px;
            max-width: 900px;
            margin: 0 auto;
            text-align: center;
        }

        .main-exchange-container__text h2
        {
            margin-bottom: 20px;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 2.6rem;
            color: var(--black);
        }

        .main-exchange-container__text p
        {
            margin-bottom: 30px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.6rem;
            color: #757575;
        }

        .tables-container
        {
            width: 100%;
            height: auto;
        }

        .tables-container__card-table
        {
            width: 70%;
            min-width: 235px;
            max-width: 500px;
            height: 360px;
            margin: 0 auto;
        }

        .card-table__title
        {
            margin-left: 20px;
            margin-bottom: 15px;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 2.3rem;
        }

        .card-table__title--orange
        {
            color: var(--bitcoin-orange);
        }

        .card-table__title--blue
        {
            color: var(--secundary-blue);
        }

        .tables-container__card-table--table-container
        {
            width: 90%;
            min-width: 230px;
            max-width: 300px;
            height: 250px;
            margin: 0 auto;
        }

        .tables-container__card-table--table-container table
        {
            width: 100%;
            height: 100%;
            font-family: 'Inter', sans-serif;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.9rem;
            color: var(--grey);
        }

        .tables-container__card-table--table-container table td
        {
            width: 50%;
            background-color: var(--just-white);
        }

        .tables-container__card-table--table-container table .column-left
        {
            padding-left: 15px;
        }

        .tables-container__card-table--table-container table .column-right
        {
            text-align: center;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.7rem;
            color: #757575;
        }

        .tables-container__card-table--table-container table .column-top-left
        {
            border-radius: 15px 0 0 0;
        }

        .tables-container__card-table--table-container table .column-top-right
        {
            border-radius: 0 15px 0 0;
        }

        .tables-container__card-table--table-container table .column-bottom-left
        {
            border-radius: 0 0 0 15px;
        }

        .tables-container__card-table--table-container table .column-bottom-right
        {
            border-radius: 0 0 15px 0;
        }

        .tables-container__card-table--table-container table .icon-treading
        {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-left: 15px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .tables-container__card-table--table-container table .icon-treading--down
        {
            background-image: url('./Assets/Icons/trending-down.svg');
        }

        .tables-container__card-table--table-container table .icon-treading--up
        {
            background-image: url('./Assets/Icons/trending-up.svg');
        }

        .card-table__refresh
        {
            width: 190px;
            height: 30px;
            margin: 0 auto;
            margin-top: 15px;
            padding: 8px;
            border-radius: 8px;
        }

        .card-table__refresh--orange
        {
            background-color: var(--soft-orange);
        }

        .card-table__refresh--blue
        {
            background-color: var(--soft-blue);
        }

        .card-table__refresh p
        {
            text-align: center;
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 1.5rem;
            color: var(--warm-black);
        }
    /*Termina exchange section*/
    /*Empieza benefits section*/
        .main-benefits-container
        {
            position: relative;
            width: 100%;
            min-width: 320px;
            height: auto;
            padding: 20px 10px;
            background-color: var(--warm-black);
        }

        .main-benefits-container__top-batata-icon
        {
            width: 40px;
            height: 25px;
            position: absolute;
            top: calc(0% - 12.5px);
            left: calc(50% - 20px);
            background-image: url('./Assets/Icons/batata.svg');
        }

        .main-benefits-container__texts
        {
            width: 90%;
            min-width: 288px;
            height: auto;
            margin: 0 auto;
            text-align: center;
        }

        .main-benefits-container__texts h2
        {
            margin-top: 30px;
            margin-bottom: 20px;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 2.6rem;
            color: var(--just-white);
        }

        .main-benefits-container__texts h3
        {
            margin-bottom: 25px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
            color: #808080;
        }

        .benefits-cards-container
        {
            width: 100%;
            height: auto;
        }

        .benefits-cards-container__card
        {
            width: 90%;
            min-width: 288px;
            max-width: 400px;
            height: 150px;
            margin: 0 auto;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
            background-color: var(--black);
            margin-bottom: 15px;
        }

        .card__icon
        {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-bottom: 10px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .card__icon--clock
        {
            background-image: url('./Assets/Icons/clock.svg');
        }

        .card__icon--eye
        {
            background-image: url('./Assets/Icons/eye.svg');
        }

        .card__icon--dollar-sign
        {
            background-image: url('./Assets/Icons/dollar-sign.svg');
        }

        .card__icon--check-circle
        {
            background-image: url('./Assets/Icons/check-circle.svg');
        }

        .benefits-cards-container__card h3
        {
            margin-bottom: 10px;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.8rem;
            color: var(--just-white);
        }

        .benefits-cards-container__card p
        {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
            color: #808080;
        }

        .main-know-product-img-container
        {
            width: 100%;
            min-width: 320px;
            height: 68.134vh;
            background-image: url('./Assets/Img/bitcoinbaby2x.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
        }

        .main-know-product-img-container h2
        {
            padding-top: 60px;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 2.6rem;
            color: var(--just-white);
        }
    /*Termina benefits section*/
    /*Empieza plans section*/
        .main-plans-container
        {
            display: flex;
            width: 100%;
            min-width: 320px;
            height: auto;
            margin-top: 60px;
            margin-bottom: 35px;
            flex-direction: column;
            justify-content: center;
            background-color: var(--off-white);
        }

        .main-plans-container__texts
        {
            width: 90%;
            min-width: 288px;
            height: auto;
            margin: 0 auto;
            margin-bottom: 30px;
            text-align: center;
        }

        .main-plans-container__texts h2
        {
            margin-bottom: 20px;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 2.6rem;
            color: var(--black);
        }

        .main-plans-container__texts p
        {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
        }

        .plans-cards-container
        {
            display: flex;
            width: auto;
            height: 316px;
            margin: 0 calc(((100% - 57%) / 2));
            gap: 10px;
            align-items: center;
            overflow-x: scroll;
            overscroll-behavior-x: contain;
            scroll-snap-type: x proximity;
        }

        .plans-cards-container__card
        {
            display: inline-block;
            position: relative;
            width: 100%;
            height: 260px;
            padding: 0 15px;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
            text-align: center;
            background-color: var(--just-white);
            scroll-snap-align: center;
        }

        .card__floated-text
        {
            width: 120px;
            height: 31px;
            padding: 8px;
            position: absolute;
            top: calc(0% - 15.5px);
            left: calc(50% - 60px);
            border-radius: 8px;
            background-color: var(--bitcoin-orange);
            font-family: 'Inter', sans-serif;
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 1.5rem;
            color: var(--just-white);
        }

        .card-content-container
        {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: inherit;
            justify-content: space-between;
        }

        .card-content-container__texts
        {
            display: flex;
            width: 100%;
            height: 65%;
            flex-direction: column;
            justify-content: space-around;
        }

        .card-content-container__texts h3
        {
            margin-top: 35px;
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 1.2rem;
            color: var(--black);
        }

        .card-content-container__texts .card-content-container__texts--price
        {
            margin-right: 12px;
            font-weight: 700;
            font-size: 5.2rem;
            color: var(--black);
        }

        .card-content-container__texts .card-content-container__texts--price span
        {
            margin-right: 5px;
            font-weight: 300;
            font-size: 1.2rem;
            vertical-align: 3rem;
        }

        .card-content-container__texts .card-content-container__texts--saving
        {
            font-size: 1.2rem;
            color: #757575;
        }

        .card-content-container__call-action
        {
            width: 150px;
            height: 48px;
            margin-bottom: 30px;
            align-self: center;
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 1.2rem;
            color: var(--black);
            background-color: var(--off-white);
            border: 2px solid var(--bitcoin-orange);
            border-radius: 4px;
        }

        .card-content-container__call-action span
        {
            width: 20px;
            height: 20px;
            margin-left: 5px;
            background-image: url('./Assets/Icons/orange-right-arrow.svg');
            vertical-align: -0.4rem;
        }
    /*Termina plans section*/
/*Termina main*/
/*Empieza footer*/
    footer
    {
        display: flex;
        width: 100%;
        height: 150px;
        background-color: var(--bitcoin-orange);
    }

    footer section
    {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    }

    .footer-left-container ul
    {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        list-style: none;
    }

    .footer-left-container li
    {
        margin: 10px 0;
    }

    .footer-left-container a
    {
        text-decoration: none;
        color: var(--just-white);
    }
/*Termina footer*/